body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    padding: 0px;
    margin:0px;
    color:white;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#left-panel{
    width: 30%;
    height:100vh;
    flex-shrink: 1;
    display: flex;
    flex-direction: row-reverse;
    padding-top:10px;
    padding-right: 0px;
}

.menu-bar {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 20px;
}
.menu-bar i{
    margin-right: 20px;
}

.menu-bar .xlogo {
    padding: 20px;
    margin-bottom: 10px;
}


.menu-blocks {
    padding: 20px;
    border-radius: 50px;
}

.menu-blocks:hover {
    background-color: rgba(255, 255, 255, 0.089);
    cursor: pointer;
    width:fit-content;
}

.post {
    background-color: white;
    color: black;
    text-align: center;
    font-weight:bold;
    width: 220px; 
    margin-top: 15px;
}

.post:hover{
    background-color: rgba(255, 255, 255, 0.808);
    width: 220px; 
}

.profile {
    display: flex;
    margin-top: auto;
    margin-bottom: 30px;
    font-size: 16px;
    padding: 15px;
    width: 250px;
}

.profile:hover {
    width: 250px;
}

.profile img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.profile i{
    margin-left: auto;
    align-self: center;
    margin-right:0px;
}

.profile .menu-profile-tag{
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.473);
}

#center-area {
    width: 40%;
    height:100vh;
    border-left: solid 1px gray;
    border-right: solid 1px gray;
    overflow: auto;
}

.feed-selection {
    display: flex;
    border-bottom: solid 1px gray;
    position: relative;
    gap: 10px;
}

.feed-selection div {
    padding: 20px;
    padding-top: 30px;
    padding-left: 35px;
    position: relative;
    flex: 1;
    text-align: center;
    color: rgba(255, 255, 255, 0.507);
}

.feed-selection div:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.055);
}

.feed-selection .selected {
    font-weight: bold;
    color: white;
}

.feed-selection .selected::after {
    content: "";
    position: absolute;
    left: 52%;
    bottom: 0px;
    width: 20%;
    height: 4px; /* Thickness of the bar */
    background-color: #2196F3; /* Bar color */
    border-radius: 10px; /* Rounded edges */
    transform: translateX(-50%);
}

.post-area {
    padding-bottom: 14px;
    border-bottom: solid 1px gray;
}

.post-area form {
    background-color: black;
}
.post-area form input{
    background-color: black;
}

.post-area .pfp-post {
    display: flex;
}

.post-area .pfp-post img {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    margin: 14px;
}

.post-buttons {
    align-self: flex-end;
    display: flex;
    color: #1d9bf0;
    margin-left: 62px;
    padding-right: 20px;
}

.post-buttons i {
    cursor: pointer;
    padding: 10px;
    border-radius: 50px;
    transform: scale(1.2);
    height: fit-content;
}

.post-buttons i:hover{
    background-color: rgba(255, 255, 255, 0.11);
}

.pfp-post input[type=text] {
    position: relative;
    background-color: black;
    color: gray;
    border: none; 
    font-size: 22px;
    left: -4px;
}

.pfp-post input[type=text]:focus {
    border: none;
    outline: none;
}

.post-area .center-post-button {
    text-align: center;
    cursor: pointer;
    color: black;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.466);
    border-radius: 50px;
    font-weight: bold;
    margin-left: auto;
    justify-content: flex-end;
    width: 8%;
}

#right-sidebar{
    width: 30%;
    height:100vh;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid rgba(255, 255, 255, 0.247);
    border-radius: 50px;
    margin-left: 30px;
    height: fit-content;
    padding: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
    color: gray;
    width: 55%;
}

.search-bar input[type=text] {
    background-color: black;
    border: none;
    color: white;
    font-size: 16px;
}

.search-bar input[type=text]:focus {
    border: none;
    outline: none;
}



